In [1]:
import pandas as pd
import numpy as np
import sys, os
sys.path.append(os.path.abspath('..'))
from src.outliers import detect_outliers_iqr, detect_outliers_zscore, winsorize_series

In [2]:
merged = pd.read_csv('../data/processed/data_cleaned.csv')
merged.head()

         date       VIG      CPI  UNEMP  SPREAD
0  2007-01-01  54.29500  202.416    4.6   -0.12
1  2007-02-01  55.10000  203.499    4.5   -0.13
2  2007-03-01  53.49500  205.352    4.4   -0.01
3  2007-04-01  55.25925  206.686    4.5    0.02
4  2007-05-01  56.77005  207.949    4.4   -0.02

In [3]:
target_col = 'y' if 'y' in merged.columns else merged.select_dtypes(include=['number']).columns[1]
merged['outlier_iqr'] = detect_outliers_iqr(merged[target_col], 2)
merged['outlier_z'] = detect_outliers_zscore(merged[target_col], threshold=3.0)
merged[['outlier_iqr', 'outlier_z']].mean()

outlier_iqr    0.0
outlier_z      0.0
dtype: float64

In [4]:
pd.crosstab(merged['outlier_iqr'], merged['outlier_z'])

outlier_z    False
outlier_iqr
False          223